.footer-container{
    background-color: var(--azul);
    color: var(--white);
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 3rem;
}

.footer-title{
    font-size: 2rem;
    padding-bottom: 0.25rem;
}

.footer-subtitle{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.footer-text{
    font-size: 0.75rem;
}
.low-row-right{
    padding-top: 2rem;
    text-align: left;
}
.low-row-left{
    padding-top: 2rem;
    text-align: right;
}