body {  }
.blue-stripe { background-color: var(--azul); width: 15%; height: 60px; position: absolute; top: 20%; left: 0; border-radius: 0 2rem 2rem 0; }

body nav {  }

body main {  }

body main header { height: 100vh; background-image: url(../../public/img/main-bg.png); background-size: cover; background-position: center; background-repeat: no-repeat; }
body main header .container { height: 100%; display: flex; flex-direction: column; flex-wrap: nowrap; align-content: space-around; justify-content: space-between; align-items: flex-start; /*padding-top: 8rem; padding-bottom: 3rem;*/ }
body main header .container .top-items { width: 55%; height: 100%; display: flex; flex-direction: column; flex-wrap: nowrap; align-content: space-around; justify-content: center; align-items: flex-start; position: relative; }
body main header .container .top-items p { color: var(--white); margin: 0; }
body main header .container .top-items .texts-t1 { font-weight: bold; margin-bottom: 1.25rem; }
body main header .container .top-items .texts-t2 { font-weight: 400; margin-bottom: 1.25rem; }

body main header .container .top-items .btn-type-1 { outline: none; border: none; color: var(--white); text-align: center; text-decoration: none; display: inline-block; padding: .6rem 1.2rem; transition-duration: 0.4s; border-radius: 1rem; background-color: var(--azul); line-height: 1; }


body main header .container .bottom-items { width: 100%; height: 12.5%; }
body main header .container .bottom-items ul.network-logos { list-style: none; display: flex; flex-direction: row; flex-wrap: nowrap; align-content: space-around; justify-content: space-around; align-items: center; padding: 0; margin: 0; }
body main header .container .bottom-items ul.network-logos li { width: 100%; }
body main header .container .bottom-items ul.network-logos li a { display: block; }
body main header .container .bottom-items ul.network-logos li a img { width: 80%; display: block; margin: auto; }

body main section { padding: 1.5rem 0 3rem 0; }
body main section hr { width: 60%; border-top: 1px solid rgba(0,0,0,.2); }
body main section .container { padding-top: 2.6rem; }
body main section .texts-l { color: var(--azul); font-weight: 600; margin-bottom: 1.2rem; }
body main section .texts-xl { color: var(--negro); font-weight: 700; width: 45%; margin-bottom: 2.5rem; }
body main section .row { height: 100%; flex-direction: row; align-items: flex-end; }
body main section .row .square { height: 100%; }
body main section .row .square .media-obj { display: flex; position: relative; height: 100%; margin-bottom: 1rem; }
body main section .row .square .media-obj h5 { margin-bottom: 0; width: 85%; padding-left: .5rem; color: var(--azul); font-weight: 600; }
body main section .row .square .media-obj .list-decor { width: 5px; min-width: 5px; height: unset; background-color: var(--azul); border-radius: 2rem; }
/*body main section .row .square .media-obj .mo-title {  }*/
body main section .row .square .mo-text { line-height: 1.2; font-weight: 400; }
