body {  }
.blue-stripe { background-color: var(--azul); width: 15%; height: 60px; position: absolute; top: 20%; left: 0; border-radius: 0 2rem 2rem 0; }

body nav {  }

body #home {  }

body #home header { height: 100vh; background-image: url("../../public/img/main-bg.png"); background-size: cover; background-position: center; background-repeat: no-repeat; }
body #home header .container { height: 100%; display: flex; flex-direction: column; flex-wrap: nowrap; align-content: space-around; justify-content: space-between; align-items: flex-start; /*padding-top: 8rem; padding-bottom: 3rem;*/ }
body #home header .container .top-items { width: 55%; height: 100%; display: flex; flex-direction: column; flex-wrap: nowrap; align-content: space-around; justify-content: center; align-items: flex-start; position: relative; }
body #home header .container .top-items p { color: var(--white); margin: 0; }
body #home header .container .top-items .texts-t1 { font-weight: bold; margin-bottom: 1.25rem; }
body #home header .container .top-items .texts-t2 { font-weight: 400; margin-bottom: 1.25rem; }

body #home header .container .top-items .btn-type-1 { outline: none; border: none; color: var(--white); text-align: center; text-decoration: none; display: inline-block; padding: .6rem 1.2rem; transition-duration: 0.4s; border-radius: 1rem; background-color: var(--azul); line-height: 1; }


body #home header .container .bottom-items { width: 100%; height: 12.5%; }
body #home header .container .bottom-items ul.network-logos { list-style: none; display: flex; flex-direction: row; flex-wrap: nowrap; align-content: space-around; justify-content: space-around; align-items: center; padding: 0; margin: 0; }
body #home header .container .bottom-items ul.network-logos li { width: 100%; }
body #home header .container .bottom-items ul.network-logos li a { display: block; }
body #home header .container .bottom-items ul.network-logos li a img { width: 35%; display: block; margin: auto; }

body #home section { padding: 1.5rem 0 5rem 0; }
body #home section hr { width: 60%; border-top: 1px solid rgba(0,0,0,.2); }
body #home section .container { padding-top: 2.6rem; }
body #home section .texts-l { color: var(--azul); font-weight: 600; margin-bottom: 1.2rem; }
body #home section .texts-xl { color: var(--negro); font-weight: 700; width: 45%; margin-bottom: 2.5rem; }
body #home section .row { height: 100%; flex-direction: row; align-items: flex-end; }
body #home section .row .square { height: 100%; }
body #home section .row .square .media-obj { display: flex; position: relative; height: 100%; margin-bottom: 1rem; }
body #home section .row .square .media-obj h5 { margin-bottom: 0; width: 85%; padding-left: .5rem; color: var(--azul); font-weight: 600; }
body #home section .row .square .media-obj .list-decor { width: 5px; min-width: 5px; height: unset; background-color: var(--azul); border-radius: 2rem; }
/*body #home section .row .square .media-obj .mo-title {  }*/
body #home section .row .square .mo-text { line-height: 1.2; font-weight: 400; }


body #home section .cards {  }
body #home section .cards .row { flex-direction: column; padding: 0 2rem;  }
body #home section .cards .image { background-size: cover; min-height: 20rem; min-width: 100%; border-radius: 2rem 2rem 0 0; transition: 0.5s; }
body #home section .cards .image p { color: var(--white); text-align: left!important; margin-left: 1.2rem!important; margin-top: 1.2rem; }
body #home section .cards .image-seller { background-image: url("../../public/img/seller-img.png"); }
body #home section .cards .image-customer { background-image: url("../../public/img/customer-img.png"); }
body #home section .cards .caption { min-width: 100%; border-radius: 0 0 2rem 2rem; background-color: var(--white); transition: 0.5s; }
body #home section .cards .caption p { font-weight: 600; padding: 1rem 1rem .5rem 1rem; }
body #home section .cards:hover .image { box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.07); }
body #home section .cards:hover .caption { box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.07); }
.mo-text{text-align: justify;}
.azul{color: var(--azul);}
#why { background-color: var(--white); }
#useit { background-color: var(--azul-claro); }
#useit .texts-l { text-align: center; }
#useit .texts-xl { text-align: center; margin-left: auto; margin-right: auto; }

/**********Large (lg)**********/
@media (max-width: 1199.98px) {}

/**********Medium (md)**********/
@media (max-width: 991.98px) {
	body #home section .texts-xl { width: 75%; }
	body #home section .row .square { margin: .5rem 0; }
}

/**********Small (sm)**********/
@media (max-width: 767.98px) {
	body #home header .container .top-items { width: 100%; }
	body #home header .container .bottom-items ul.network-logos li a img { width: 95%; }
	body #home section .cards { margin-bottom: 3rem; }
}

/**********Extra small (xs)**********/
@media (max-width: 575.98px) {
	body #home section .texts-l { text-align: center; }
	body #home section .texts-xl { text-align: center; width: 85%; margin-left: auto; margin-right: auto; }
}
