@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--white: #ffffff;
	--azul: #376ADE;
	--negro: #363636;

}
::-webkit-scrollbar { width: ; }
::-webkit-scrollbar-track { background-color: ; }
::-webkit-scrollbar-thumb { background-color: ; }
::-webkit-scrollbar-thumb:hover { background-color: ; }

.texts-t1 { font-size: 4rem; line-height: 1.1; }
.texts-t2 { font-size: 1.8rem; }
.texts-t3 {  }

.texts-xl {  }
.texts-l { font-size: 1.3rem; }
.texts-m { font-size: 1rem; }
.texts-s {  }
.texts-xs {  }





/**********Large (lg)**********/
@media (max-width: 1199.98px) {}

/**********Medium (md)**********/
@media (max-width: 991.98px) {}

/**********Small (sm)**********/
@media (max-width: 767.98px) {}

/**********Extra small (xs)**********/
@media (max-width: 575.98px) {}

/*********Special*********/